<style>
  .square:nth-child(1) {
    background-color: #232323;
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 1;
    rotate: 45deg;
    top: -21%;
    left: -20%;
  }
  .square:nth-child(2) {
    background-color: #232323;
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 1;
    rotate: 185deg;
    top: -25%;
    left: 20%;
  }
  .square:nth-child(3) {
    background-color: #232323;
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 1;
    rotate: 15deg;
    top: -25%;
    left: 70%;
  }
  .square:nth-child(4) {
    background-color: #232323;
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 1;
    rotate: 205deg;
    top: 71%;
    left: -20%;
  }
  .square:nth-child(5) {
    background-color: #232323;
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 1;
    rotate: 205deg;
    top: 71%;
    left: 20%;
  }
  .square:nth-child(6) {
    background-color: #232323;
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 1;
    rotate: 495deg;
    top: 81%;
    left: 55%;
  }
</style>

<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
<div class="square"></div>
